**__pycache__
.idea
**.ipynb_checkpoints/
.env
**venv/
posts/
../../todos.json
../../.idea/
db.sqlite3
../../main.py
notes
/static
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir