{% extends "base.html" %}

{% block content %}
    <form action="{% url 'create_todo' %}" method="post">
        {{ form.non_field_errors }}
        <div class="form-group">
            {% if form.name.errors %}
                <div class="alert alert-danger" role="alert">{{ form.name.errors }}</div>
            {% endif %}
            <label for="{{ form.name.label }}">{{ form.name.label }}:</label>
            <input type="text" name="{{form.name.name}}" class="form-control" id="{{ form.name.label }}" required>
        </div>
        <div class="form-group">
            {% if form.description.errors %}
                <div class="alert alert-danger" role="alert">{{ form.description.errors }}</div>
            {% endif %}
            <label for="{{ form.description.label }}">{{ form.description.label }}:</label>
            <textarea name="{{form.description.name}}" class="form-control" id="{{ form.description.label }}" rows="3"></textarea>
        </div>
        <div class="form-group">
            {% if form.user.errors %}
                <div class="alert alert-danger" role="alert">{{ form.user.errors }}</div>
            {% endif %}
            <label for="{{ form.user.label }}">{{ form.user.label }}:</label>
            <select name="{{form.user.name}}" class="form-control" id="{{ form.user.label }}" required>
                {% for option in form.blog.field.choices %}
                    <option value="{{option.0}}">{{option.1}}</option>
                {% endfor %}
            </select>
        </div>
       <div class="form-group">
            {% if form.completed.errors %}
                <div class="alert alert-danger" role="alert">{{ form.completed.errors }}</div>
            {% endif %}
            <label for="{{ form.completed.label }}">{{ form.completed.label }}:</label>
            <input type="checkbox" name="{{form.completed.name}}" class="form-control" id="{{ form.completed.label }}" required>
        </div>
        <input type="submit" value="Create" class="btn btn-outline-success">
    </form>
{% endblock %}